In [17]:
import pandas as pd
import requests 
from bs4 import BeautifulSoup 
import csv 
import bs4 as bs
import urllib.request

### Web Scrape | Yahoo Finance | Stock Returns

In [ ]:
import bs4 as bs
import urllib.request
import pandas as pd
import time
  
def get_ticker(ticker, day_one, day_two):
      
    url = 'https://finance.yahoo.com/quote/' + ticker + '/history?period1=' + day_one + '&period2=' + day_two + '&interval=1d&filter=history&frequency=1d'
    source = urllib.request.urlopen(url).read()      
    soup =bs.BeautifulSoup(source,'lxml')
    tr = soup.find_all('tr')
      
    data = []
      
    for table in tr:
        td = table.find_all('td')
        row = [i.text for i in td]
        data.append(row)        
      
    columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
  
    data = data[1:-2]
    df = pd.DataFrame(data)
    df.columns = columns
    df.set_index(columns[0], inplace=True)   
    df = df.iloc[::-1]
    df.dropna(inplace=True)
      
    return df
     
 
# April 3, 2018 = 1522728000  (seconds since UNIX epoch in 1970)
# June 12, 2018 = 1528776000
# https://finance.yahoo.com/quote/AAPL/history?period1=1522728000&period2=1528776000&interval=1d&filter=history&frequency=1d
 
 
format_string='%Y-%m-%d %H:%M:%S'
 
# One day (86400 second) adjustment required to get dates printed to match web site manual output
date1='2015-01-01 00:00:00'
date1_epoch = str(int(time.mktime(time.strptime(date1,format_string)))- 86400)
print("")
print(date1, date1_epoch)
 
date2='2020-02-10 00:00:00'
date2_epoch = str(int(time.mktime(time.strptime(date2,format_string))))
print(date2, date2_epoch)
 
df = get_ticker('AAPL', date1_epoch, date2_epoch)
df

#### 1.) Apple (NYSE: AAPL)

In [9]:
aapl = get_ticker('AAPL', date1_epoch, date2_epoch)
aapl

                Open    High     Low   Close Adj Close      Volume
Date
Sep 23, 2019  218.95  219.84  217.65  218.72    217.55  19,165,500
Sep 24, 2019  221.03  222.49  217.19  217.68    216.51  31,190,800
Sep 25, 2019  218.55  221.50  217.14  221.03    219.85  21,903,400
Sep 26, 2019  220.00  220.94  218.83  219.89    218.71  18,833,500
Sep 27, 2019  220.54  220.96  217.28  218.82    217.65  25,352,000
...              ...     ...     ...     ...       ...         ...
Feb 04, 2020  315.31  319.64  313.63  318.85    318.10  34,154,100
Feb 05, 2020  323.52  324.76  318.95  321.45    320.69  29,706,700
Feb 06, 2020  322.57  325.22  320.26  325.21    324.44  26,356,400
Feb 07, 2020  322.37  323.40  318.00  320.03    320.03  29,421,000
Feb 10, 2020  314.18  321.55  313.85  321.55    321.55  27,275,400

[97 rows x 6 columns]

#### 2.) Microsoft (NYSE: MSFT)

In [11]:
msft = get_ticker('MSFT', date1_epoch, date2_epoch)
msft

                Open    High     Low   Close Adj Close      Volume
Date
Sep 20, 2019  141.01  141.65  138.25  139.44    138.97  39,167,300
Sep 23, 2019  139.23  139.63  138.44  139.14    138.67  17,139,300
Sep 24, 2019  140.36  140.69  136.88  137.38    136.91  29,773,200
Sep 25, 2019  137.50  139.96  136.03  139.36    138.89  21,382,000
Sep 26, 2019  139.44  140.18  138.44  139.54    139.07  17,456,600
...              ...     ...     ...     ...       ...         ...
Feb 04, 2020  177.14  180.64  176.31  180.12    180.12  36,433,300
Feb 05, 2020  184.03  184.20  178.41  179.90    179.90  39,186,300
Feb 06, 2020  180.97  183.82  180.06  183.63    183.63  27,751,400
Feb 07, 2020  182.85  185.63  182.48  183.89    183.89  33,529,100
Feb 10, 2020  183.58  188.84  183.25  188.70    188.70  35,786,600

[98 rows x 6 columns]

In [ ]:
names=[]
prices=[]
changes=[]
percentChanges=[]
marketCaps=[]
totalVolumes=[]
circulatingSupplys=[]
 
CurrenciesUrl = "https://in.finance.yahoo.com/currencies"
r= requests.get(CurrenciesUrl)
data=r.text
soup=BeautifulSoup(data)
 
counter = 40
for i in range(40, 404, 14):
   for listing in soup.find_all('tr', attrs={'data-reactid':i}):
      for name in listing.find_all('td', attrs={'data-reactid':i+3}):
         names.append(name.text)
      for price in listing.find_all('td', attrs={'data-reactid':i+4}):
         prices.append(price.text)
      for change in listing.find_all('td', attrs={'data-reactid':i+5}):
         changes.append(change.text)
      for percentChange in listing.find_all('td', attrs={'data-reactid':i+7}):
         percentChanges.append(percentChange.text)
            
currencies = pd.DataFrame({"Names": names, 
              "Prices": prices, 
              "Change": changes, 
              "% Change": percentChanges})
currencies

#### 3.) iShares 20y Treasury (NYSE: TLT)

In [12]:
tlt = get_ticker('tlt', date1_epoch, date2_epoch)
tlt

                Open    High     Low   Close Adj Close      Volume
Date
Sep 26, 2019  142.27  142.99  141.90  142.38    141.18   9,636,500
Sep 27, 2019  142.32  142.98  142.14  142.73    141.53  10,386,900
Sep 30, 2019  141.88  143.09  141.84  143.08    141.87   8,006,900
Oct 01, 2019  141.26  143.91  141.14  143.26    142.30  16,613,700
Oct 02, 2019  143.46  144.27  143.24  143.61    142.65  12,891,500
...              ...     ...     ...     ...       ...         ...
Feb 04, 2020  143.99  144.14  143.06  143.58    143.58  11,388,300
Feb 05, 2020  142.30  142.70  141.90  142.01    142.01  10,782,600
Feb 06, 2020  142.18  142.88  142.00  142.65    142.65   6,683,100
Feb 07, 2020  144.22  144.74  143.87  144.43    144.43  11,374,800
Feb 10, 2020  145.10  145.25  144.68  144.83    144.83   6,695,400

[94 rows x 6 columns]

#### 4.) U.S. Oil Fund LP (NYSE: USO)

In [15]:
uso = get_ticker("uso", date1_epoch, date2_epoch)
uso

               Open   High    Low  Close Adj Close      Volume
Date
Sep 19, 2019  12.22  12.29  12.11  12.19     12.19  30,330,900
Sep 20, 2019  12.23  12.32  12.08  12.20     12.20  24,076,900
Sep 23, 2019  12.14  12.24  12.04  12.21     12.21  20,463,500
Sep 24, 2019  12.12  12.15  11.86  11.90     11.90  29,414,300
Sep 25, 2019  11.66  11.82  11.60  11.80     11.80  21,599,400
...             ...    ...    ...    ...       ...         ...
Feb 04, 2020  10.68  10.70  10.40  10.44     10.44  41,515,400
Feb 05, 2020  10.75  10.89  10.59  10.70     10.70  40,714,800
Feb 06, 2020  10.64  10.77  10.55  10.74     10.74  25,998,700
Feb 07, 2020  10.60  10.72  10.54  10.58     10.58  20,887,700
Feb 10, 2020  10.48  10.56  10.38  10.42     10.42  22,496,300

[99 rows x 6 columns]

#### 5.) SPDR Gold Trust ETF (NYSE: GLD)

In [16]:
gld = get_ticker("gld", date1_epoch, date2_epoch)
gld

                Open    High     Low   Close Adj Close      Volume
Date
Sep 19, 2019  141.57  141.74  141.09  141.28    141.28   8,057,400
Sep 20, 2019  141.61  143.03  141.46  142.95    142.95  12,110,000
Sep 23, 2019  143.22  143.94  143.07  143.75    143.75   9,006,500
Sep 24, 2019  143.21  144.77  142.88  144.51    144.51  10,576,300
Sep 25, 2019  144.08  144.29  141.44  141.83    141.83  11,648,400
...              ...     ...     ...     ...       ...         ...
Feb 04, 2020  146.97  147.03  145.80  146.43    146.43  10,525,600
Feb 05, 2020  146.38  146.81  146.16  146.61    146.61   6,160,700
Feb 06, 2020  147.28  147.63  147.00  147.40    147.40   4,819,800
Feb 07, 2020  147.83  148.18  147.34  147.79    147.79   6,379,300
Feb 10, 2020  148.21  148.45  147.91  148.17    148.17   5,788,500

[99 rows x 6 columns]

#### 6.) SPDR S&P 500 ETF (NYSE: SPY)

In [17]:
spy = get_ticker("spy", date1_epoch, date2_epoch)
spy

                Open    High     Low   Close Adj Close      Volume
Date
Sep 20, 2019  300.36  300.67  297.41  298.28    296.82  89,565,000
Sep 23, 2019  297.55  299.00  297.27  298.21    296.75  43,476,800
Sep 24, 2019  299.41  299.84  294.81  295.87    294.42  94,869,400
Sep 25, 2019  295.96  298.11  294.33  297.62    296.16  71,854,000
Sep 26, 2019  297.63  297.86  295.45  297.00    295.55  56,179,700
...              ...     ...     ...     ...       ...         ...
Feb 04, 2020  328.07  330.01  327.72  329.06    329.06  62,573,200
Feb 05, 2020  332.27  333.09  330.67  332.86    332.86  65,951,100
Feb 06, 2020  333.91  334.19  332.80  333.98    333.98  50,359,700
Feb 07, 2020  332.82  333.99  331.60  332.20    332.20  64,139,400
Feb 10, 2020  331.23  334.75  331.19  334.68    334.68  41,837,900

[98 rows x 6 columns]

#### 7.) McDonald's Corp (NYSE: MCD)

In [18]:
mcd = get_ticker("mcd", date1_epoch, date2_epoch)
mcd

                Open    High     Low   Close Adj Close     Volume
Date
Sep 20, 2019  210.34  211.78  209.37  209.39    208.06  5,979,300
Sep 23, 2019  209.06  212.47  209.06  211.54    210.19  2,812,100
Sep 24, 2019  212.50  213.52  211.55  212.02    210.67  3,049,800
Sep 25, 2019  212.02  213.15  211.00  212.63    211.28  2,414,500
Sep 26, 2019  214.22  215.67  212.48  212.60    211.25  3,053,100
...              ...     ...     ...     ...       ...        ...
Feb 04, 2020  216.11  216.69  214.25  214.62    214.62  3,367,900
Feb 05, 2020  215.64  215.78  213.01  214.37    214.37  2,911,400
Feb 06, 2020  214.72  214.82  212.64  212.87    212.87  2,903,300
Feb 07, 2020  212.56  212.84  211.09  211.61    211.61  2,421,600
Feb 10, 2020  211.34  213.28  211.25  213.21    213.21  2,318,800

[98 rows x 6 columns]

#### 8.) Coca Cola (NYSE: KO)

In [19]:
ko = get_ticker("ko", date1_epoch, date2_epoch)
ko

               Open   High    Low  Close Adj Close      Volume
Date
Sep 20, 2019  54.69  54.69  53.90  53.91     53.51  19,211,500
Sep 23, 2019  53.91  54.36  53.88  54.14     53.74   6,485,300
Sep 24, 2019  54.25  54.61  54.04  54.30     53.90  10,093,000
Sep 25, 2019  54.44  54.48  54.00  54.17     53.77  10,248,400
Sep 26, 2019  54.47  54.58  54.13  54.39     53.99  10,031,200
...             ...    ...    ...    ...       ...         ...
Feb 04, 2020  58.75  59.45  58.62  58.84     58.84  15,417,900
Feb 05, 2020  58.90  59.08  58.54  58.85     58.85  11,414,900
Feb 06, 2020  58.98  59.34  58.84  58.99     58.99   9,347,000
Feb 07, 2020  58.88  59.32  58.85  59.19     59.19   8,757,800
Feb 10, 2020  59.32  59.84  59.29  59.75     59.75   7,984,900

[98 rows x 6 columns]

#### 9.) Dow Chemical (NYSE: DOW)

In [20]:
dow = get_ticker("dow", date1_epoch, date2_epoch)
dow

               Open   High    Low  Close Adj Close      Volume
Date
Sep 20, 2019  47.47  48.85  47.07  48.21     47.60  10,570,400
Sep 23, 2019  47.39  48.22  47.12  47.91     47.30   3,599,400
Sep 24, 2019  47.78  48.00  45.95  46.60     46.01   4,515,300
Sep 25, 2019  46.55  47.97  46.13  47.68     47.08   4,396,200
Sep 26, 2019  47.51  47.69  46.93  47.23     46.63   2,994,200
...             ...    ...    ...    ...       ...         ...
Feb 04, 2020  47.65  48.38  47.44  48.05     48.05   5,287,000
Feb 05, 2020  48.88  49.74  48.52  49.61     49.61   5,403,200
Feb 06, 2020  49.61  49.66  48.56  49.20     49.20   5,985,200
Feb 07, 2020  48.54  48.54  47.45  48.03     48.03   3,802,100
Feb 10, 2020  47.80  48.72  47.80  48.19     48.19   2,488,300

[98 rows x 6 columns]

#### 10.) JPM Emerging Market Bond Fund (NYSE: EMB)

In [21]:
emb = get_ticker("emb", date1_epoch, date2_epoch)
emb

                Open    High     Low   Close Adj Close      Volume
Date
Sep 26, 2019  113.45  113.70  113.30  113.38    111.34   5,400,400
Sep 27, 2019  113.55  113.59  113.00  113.23    111.19   2,633,600
Sep 30, 2019  113.26  113.57  113.26  113.35    111.31   2,646,300
Oct 01, 2019  112.77  112.97  112.35  112.41    110.78  15,272,900
Oct 02, 2019  112.61  112.61  112.33  112.39    110.76   4,805,500
...              ...     ...     ...     ...       ...         ...
Feb 04, 2020  115.49  115.54  115.25  115.40    115.40   3,943,000
Feb 05, 2020  115.54  115.57  115.43  115.44    115.44   1,883,700
Feb 06, 2020  115.69  115.75  115.49  115.72    115.72   1,559,500
Feb 07, 2020  115.81  115.91  115.70  115.72    115.72   1,486,400
Feb 10, 2020  115.70  115.86  115.50  115.74    115.74   2,546,900

[94 rows x 6 columns]

#### Risk-Free Rate of Return

In [22]:
rf = get_ticker("^IRX", date1_epoch, date2_epoch)
rf

                Open    High     Low   Close Adj Close Volume
Date
Oct 13, 2019  1.6180  1.6180  1.6180  1.6180    1.6180      -
Oct 14, 2019  1.6150  1.6280  1.6080  1.6180    1.6180      -
Oct 15, 2019  1.6200  1.6250  1.6100  1.6150    1.6150      -
Oct 16, 2019  1.6150  1.6280  1.6150  1.6250    1.6250      -
Oct 17, 2019  1.6180  1.6280  1.6130  1.6250    1.6250      -
...              ...     ...     ...     ...       ...    ...
Feb 05, 2020  1.5400  1.5400  1.5200  1.5200    1.5200      -
Feb 06, 2020  1.5200  1.5330  1.5200  1.5300    1.5300      -
Feb 07, 2020  1.5230  1.5280  1.5150  1.5180    1.5180      -
Feb 09, 2020       -       -       -       -         -      -
Feb 10, 2020  1.5150  1.5250  1.5100  1.5200    1.5200      -

[99 rows x 6 columns]